.popular{
    padding-top: 110px;
    overflow: hidden;
    padding-bottom: 50px;
    &__city{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: $blue;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        &_2-lines{
            top: -15px;
        }
    }
    &__col_1{
        position: relative;
    }
    .slider-col{
    @include lg{
        width: 50%;
        margin: auto;
    }
    }
    &__column{
        width: 400px !important;
        height: 370px !important;
        margin-top: 90px;
        background: #F6F6F6;
        color: $blue;
        padding: 0 44px;
        border-bottom: 4px solid $green;
        position: relative;
        transition: .3s;
        margin-bottom: 30px;
        &:hover{
            background: #fff;
            box-shadow: 0 2px 20px rgba(34,30,31,.4);
        }
    }
    &__img-wrapper{
        max-width: 330px;
        max-height: 206px;
        overflow: hidden;
        position: relative;
        bottom: 27px;
        img{
            width: 100% !important;
        }
    }
    &__name{
        font-size: 20px;
        min-height: 75px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__text{
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    &__btn{
        height: 57px;
        width: 260px;
        background-color: $green;
        margin: 0 auto;
        margin-top: 53px;
        font-size: 18px;
        font-weight: 700;
        text-transform: none;
        transition: .3s;
        margin-bottom: 35px;
        &:hover{
            background-color: $blue;
            color: #fff;
        }
    }
    .btn-blue{
        width: 240px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }
    } 
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-control-prev {
    left: -10px;
}
.carousel-control-next {
    right: -10px;
}